@page "/MyTasks"
@using BlazorApp1.Models.TaskManagement
@using BlazorApp1.Components.Alert
@inherits BlazorApp1.Pages.MyTasks.MyTasksBase


<div class="main-tasks-center-wrapper">
<MudPaper Class="tasks-container-outer-dark" Square="false" Elevation="0">

    @if (ShowAlert)
    {
        <Alert Title="@AlertTaskTitle"
               Message="@AlertMessage"
               Severity="@AlertType"
               OnClose="() => ShowAlert = false" />
    }

    <MudPaper Class="tasks-box-dark mt-1" Square="false" Elevation="0">
        <div class="tasks-grid-responsive">
            @for (int i = 0; i < 6; i++)
            {
                if (i < UserTasks.Count)
                {
                    <MyTaskCard UserTask="UserTasks[i]" OnSaved="ReloadTasks" />
                }
                else
                {
                    <MyTaskCard UserTask="null" OnSaved="ReloadTasks" />
                }
            }
        </div>
        @if (UserTasks.Count > 6)
        {
            <div class="tasks-grid-responsive extra-tasks">
                @for (int i = 6; i < UserTasks.Count; i++)
                {
                    <MyTaskCard UserTask="UserTasks[i]" OnSaved="ReloadTasks" />
                }
            </div>
        }
    </MudPaper>
</MudPaper>
</div>