@page "/TaskLog"
@using BlazorApp1.Models
@using MudBlazor

@inherits TaskLogPageBase

<link href="css/TaskLog/TaskLogPage.css" rel="stylesheet" />

<MudContainer MaxWidth="MaxWidth.Medium" Class="py-12">
    <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-8 page-title">
        لیست فعالیت‌ها
    </MudText>

    <MudPaper Class="tasklog-form-glass">
        <MudGrid GutterSpacing="3" AlignItems="AlignItems.Center" Breakpoint="Breakpoint.Sm">
            <MudItem xs="12" md="6">
                <div class="input-label">عنوان فعالیت</div>
                <MudTextField T="string"
                              @bind-Value="newTitle"
                              FullWidth="true"
                              Variant="Variant.Outlined"
                              Class="modern-input"
                              Immediate="true"
                              Error="@showTitleError"
                              ErrorText="عنوان الزامی است" />
            </MudItem>

            <MudItem xs="12" md="3">
                <div class="input-label">مدت زمان</div>
                <MudTextField T="string"
                              @bind-Value="newTime"
                              Placeholder="00:00:00"
                              FullWidth="true"
                              Variant="Variant.Outlined"
                              Class="modern-input" />
            </MudItem>

            <MudItem xs="12" md="3" Class="btn-wrapper">
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Add"
                           OnClick="AddActivity"
                           Size="Size.Medium"
                           Class="add-btn">
                    افزودن
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudPaper>

    @if (loading)
    {
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="d-block mx-auto my-10" />
    }
    else
    {
        <div class="activities-wrap">
            <DynamicTable Items="activities" Columns="ActivityColumns" />
        </div>
    }
</MudContainer>
