<div class="fixed inset-0 z-[110] flex justify-center items-center bg-black/50 backdrop-blur-sm" @onclick="Close">
    <div class="relative w-full max-w-md max-h-[80vh] overflow-y-auto bg-white p-6 rounded-xl shadow-lg" @onclick:stopPropagation>
        <button class="absolute top-3 right-4 text-xl text-gray-500 hover:text-red-600" @onclick="Close">
            ×
        </button>
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task Close() => await OnClose.InvokeAsync(null);
}
