@namespace BlazorApp1.Components
@using System.Timers
@implements IDisposable

<div class="led-clock-container">
    <div class="led-clock">
        @_now.ToString("HH:mm:ss")
    </div>
</div>

@code {
    private DateTime _now = DateTime.Now;
    private Timer? _timer;

    protected override void OnInitialized()
    {
        _timer = new(1000);
        _timer.Elapsed += (_, _) =>
        {
            _now = DateTime.Now;
            InvokeAsync(StateHasChanged);
        };
        _timer.Start();
    }

    public void Dispose()
    {
        _timer?.Stop();
        _timer?.Dispose();
    }
}
